# ======================
# IDEs
# ======================
.idea/
.vscode/

# ======================
# Java
# ======================
*.class
bin/
target/

# ======================
# C / C++
# ======================
*.exe
*.out
*.o
*.obj

# CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile

# ======================
# Logs & OS
# ======================
*.log
.DS_Store